@import '../../scss/abstract';
@import '../../scss/displays';
@import '../../scss/mixins';

.Resume {
  padding-left: $main-padding-left;
  padding-right: $main-padding-right;
  padding-bottom: 10rem;

  &__chapter {
    font-size: 2.5rem;
    color: $color-title;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    gap: 4%;
  }

  &__grid-item {
    width: 48%;
  }

  @include respond-to('extra-large') {
    @include padding-extra-large;
  }

  @include respond-to('medium') {

    @include padding-large;

    &__grid {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
  }
}
