@import '../../scss/abstract';

.Services {
  color: $color-dark;
  margin-bottom: 5rem;
  padding-left: $main-padding-left;
  padding-right: $main-padding-right;
  padding-bottom: 5rem;

  &__text {
    margin-bottom: 4rem;
  }
}
