@import '../../scss/abstract';
@import '../../scss/displays';
@import '../../scss/mixins';

.Services {
  color: $color-dark;
  margin-bottom: 5rem;
  padding-left: $main-padding-left;
  padding-right: $main-padding-right;
  padding-bottom: 5rem;

  &__text {
    margin-bottom: 4rem;
  }

  @include respond-to('extra-large') {
    @include padding-extra-large;
  }

  @include respond-to('large') {

    @include padding-large;

    &__grid {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
  }
}
