{
	"extends": "stylelint-config-standard",
	"rules": {
		"color-no-invalid-hex": true,
		"block-no-empty": null,
		"unit-allowed-list": ["em", "rem", "%", "s"],
		"selector-pseudo-class-no-unknown": [
			true,
			{
				"ignorePseudoClasses": ["global"]
			}
		],
		"indentation": 2
}
}