@import '../../scss/abstract';

.FactLabel {
  padding-left: 6.8rem;
  position: relative;
  margin-bottom: 3.5rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: $color-title;
    font-family: 'Raleway', sans-serif;
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-main-blue-65;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
      width: 2rem;
      min-height: 2rem;
    }
  }

  & > li {
    margin-bottom: 5px;
  }
}
