.Menu {
  padding: 20px 0;

  &__item {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: end;
    margin-bottom: 30px;

    & > img {
      width: 20px;
      height: 20px;
      margin-right: 1.5rem;
      transition: all .3s ease;
      filter: sepia(80%);
    }

    & > p {
      line-height: 16px;
      transition: opacity .3s ease;
      opacity: .6;
      font-weight: 500;
    }

    &:hover {
      & > img {
        filter: none
      }

      & > p {
        opacity: 1;
      }
    }
  }
}
