@import '../../scss/abstract';
@import '../../scss/displays';
@import '../../scss/mixins';

.About {
  color: $color-dark;
  padding-bottom: 5rem;
  background: #fff;
  position: relative;
  z-index: 999;

  @include main-padding;

  &__text {
    margin-bottom: 3rem;
  }

  &__info {
    display: flex;
    gap: 3rem;
  }

  &__img {
    min-width: 35rem;
    max-width: 40rem;
    height: 35rem;

    & > img {
      width: 100%;
    }
  }

  &__subtitle {
    font-style: italic;
  }

  &__info-box {
    padding: 3rem 2rem;
    max-width: 90rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      min-width: 45%;
      box-sizing: border-box;
    }
  }

  @include respond-to('extra-large') {
    @include padding-extra-large;
  }

  @include respond-to('large') {

    @include padding-large;

    &__info {
      flex-direction: column;
      gap: 8rem;
    }

    &__img {
      max-width: 50rem;
      height: 45rem;
    }

    &__info-box {
      flex-direction: column;
      padding-left: 0;
      gap: 2rem;

      & > div {

      }
    }
  }

  @include respond-to('small') {
    @include padding-small;

    &__info {
      gap: 2rem;
    }
  }

  @include respond-to('extra-small') {

    &__img {
      min-width: 28rem;
      height: 30rem;
    }

    &__info {
      gap: 2rem;
    }

    &__container {
      padding-top: 3rem;
    }

    &__title {

    }
  }
}
