@import '../../scss/abstract';
@import '../../scss/displays';
@import '../../scss/mixins';

.Skills {
  background: $bg-color-blue-light;

  @include main-padding;

  &__box {
    display: flex;
    gap: 4%;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    max-width: 1300px;
    flex-wrap: wrap;

    & > div {
      width: 48%;
      box-sizing: border-box;
      margin-bottom: 30px;
    }
  }

  @include respond-to('extra-large') {
    @include padding-extra-large;
  }

  @include respond-to('medium') {

    @include padding-large;

    &__box {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
  }

  @include respond-to('small') {
    @include padding-small;

    &__info {
      gap: 2rem;
    }
  }
}
