@import '../../scss/abstract';

.Contact {
  color: $color-dark;
  background: $bg-color-blue-light;
  padding-left: $main-padding-left;
  padding-right: $main-padding-right;
  padding-bottom: 12rem;


  &__text {
    padding-bottom: 3rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }

  &__content-item {
    width: 100%;
  }

  &__centered {
    display: flex;
    justify-content: center;
  }
}
