@import '../../scss/abstract';
@import '../../scss/displays';
@import '../../scss/mixins';

.Contact {
  color: $color-dark;
  background: $bg-color-blue-light;

  @include main-padding;

  &__text {
    padding-bottom: 3rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }

  &__centered {
    display: flex;
    justify-content: center;
  }

  &__map-container {
    width: 100%;
  }

  @include respond-to('extra-large') {
    @include padding-extra-large;
  }

  @include respond-to('medium') {

    @include padding-large;

    &__content {
      grid-template-columns: 2fr;
    }

    & .FlexBox {
      gap: 0
    }
  }

  @include respond-to('small') {
    @include padding-small;

  }
}
