@import '../../scss/abstract';
@import '../../scss/displays';

.CardBox {
  padding: 3rem;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
  box-sizing: border-box;

  &_full {
    height: 100%;
  }

  @include respond-to('extra-small') {
    padding: 1.5rem;
  }
}
