@import '../../scss/abstract';

.SkillItem {
  & > h4 {
    margin-bottom: 8px;
    position: relative;

    & > span {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__box {
    width: 100%;
    height: 1rem;
    background: $color-main-blue-light;

    & > p {
      height: 1rem;
      background: $color-main-blue;
      // transform: scaleX(0);
      // transform-origin: 0 0;
    }
  }

  &.active &_box p {
    transition: transform .5s ease;
    transform: scaleX(1);
  }
}
