@import '../../scss/abstract';
@import '../../scss/displays';
@import '../../scss/mixins';

.Portfolio {
  color: $color-dark;
  background: $bg-color-blue-light;
  padding-left: $main-padding-left;
  padding-right: $main-padding-right;
  padding-bottom: 6rem;

  &__text {
    margin-bottom: 3rem;
  }

  &__filter-box {
    margin: 2rem 0;
  }

  @include respond-to('extra-large') {
    @include padding-extra-large;
  }

  @include respond-to('large') {

    @include padding-large;

    &__grid {
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }
  }

  @include respond-to('small') {
    @include padding-small;

    &__info {
      gap: 2rem;
    }
  }
}
