@import '../../scss/abstract';

.Portfolio {
  color: $color-dark;
  background: $bg-color-blue-light;
  padding-left: $main-padding-left;
  padding-right: $main-padding-right;
  padding-bottom: 6rem;

  &__text {
    margin-bottom: 3rem;
  }

  &__filter-box {
    margin: 2rem 0;
  }
}
