@import '../../scss/abstract';

.TypingText {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;

  &_default {
    color: #fff;
    border-color: #fff;
  }

  &_primary {
    color: $color-typing-primary;
    border-color: $color-typing-primary;
  }
}
