@import '../../scss/abstract';
@import '../../scss/displays';

.TypingText {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;

  &_default {
    color: #fff;
    border-color: #fff;
  }

  &_primary {
    color: $color-typing-primary;
    border-color: $color-typing-primary;
  }

  @include respond-to('small') {
    font-size: 32px;
    text-align: left;
  }

  @include respond-to('extra-small') {
    font-size: 24px;
    text-align: left;
  }
}
