@import './scss/abstract';
@import './scss/displays';

.App {
  padding: 0;

  &__content {
    display: block;
    padding-left: 250px;
  }

  &__container {
    padding: 0;
  }
}

@include respond-to('large') {
  .App {
    &__content {
      padding-left: 0;
    }
  }
}
