@import './scss/abstract';
@import './scss/displays';
@import './scss/gradients';

.App {
  padding: 0;
  overflow: hidden;
  // @include moonlightLeft;

  &__content {
    display: block;
    padding-left: 250px;
  }

  &__container {
    padding: 0;
  }
}

@include respond-to('large') {
  .App {
    &__content {
      padding-left: 0;
    }
  }
}
