$color-main: #040b14;
$color-title: #050d18;
$color-dark: #272829;
$color-main-blue: #149ddd;
$color-main-blue-light: #dce8f8;
$color-blue-light: #e4edf9;
$color-blue: #173b6c;

$bg-color-blue-light: #f5f8fd;


// Paddings
$main-padding-left: 80px;
