@import './abstract';

$steps: 25;
$count: 30;

.flash {
  position: absolute;
  top: 50%;
  left: 50%;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  animation-duration: 200s;
  animation-iteration-count: infinite;

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transform-origin: -15rem;
  }

  &::before {
    background-color: $color-flash-dark;
    animation: rotate ease alternate infinite;
    opacity: .3;
  }

  &::after {
    background-color: $color-flash-light;
    opacity: 0;
    animation: rotate ease alternate infinite, flashing ease infinite;
  }

  @for $i from 1 through $count {

    &:nth-child(#{$i}) {
      animation-name: move#{$i};

      &::before {
        animation-duration: random(15) + 5s;
      }

      &::after {
        animation-duration: random(15) + 5s, random(8) + 5s;
        animation-delay: random(5) + .5s;
      }
    }

    @keyframes move#{$i} {
      @for $step from 1 through $steps {
        #{$step * (100 / $steps) * 1%} {
          transform:
            translateY(random(140vw) - 50vw)
            translateX(random(140vh) - 50vh)
            scale(random(1) + .25);
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes flashing {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0 0 $color-flash-light;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 1rem .5rem $color-flash-light;
  }
}
