.fadeIn {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1.2s all ease;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeRight {
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1.2s all ease;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeLeft {
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: 1.2s all ease;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

.transparency {
  opacity: 0;
  transition: opacity 1.2s ease-in;

  &.active {
    opacity: 1;
  }
}
