.FlexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

  & > div {
    box-sizing: border-box;
  }

  @for $row from 2 through 4 {
    @for $gap from 2 through 4 {
      &_#{$row}-#{$gap} {
        gap: #{$gap}rem;

        & > div {
          width: calc(calc(100% - #{(($row - 1) * $gap)}rem) / #{$row});
        }
      }
    }
  }

  // &_2-2 {
  //   gap: 2rem;

  //   & > div {
  //     width: calc(calc(100% - 2rem) / 2);
  //   }
  // }

  // &_2-3 {
  //   gap: 3rem;

  //   & > div {
  //     width: calc(calc(100% - 3rem) / 2);
  //   }
  // }

  // &_2-4 {
  //   gap: 4rem;

  //   & > div {
  //     width: calc(calc(100% - 4rem) / 2);
  //   }
  // }

  // &_3-2 {
  //   gap: 2rem;

  //   & > div {
  //     width: calc(calc(100% - 4rem) / 3);
  //   }
  // }

  // &_3-3 {
  //   gap: 3rem;

  //   & > div {
  //     width: calc(calc(100% - 6rem) / 3);
  //   }
  // }

  // &_3-4 {
  //   gap: 4rem;

  //   & > div {
  //     width: calc(calc(100% - 8rem) / 3);
  //   }
  // }
}
