@import '../../scss/displays';

.FlexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

  & > div {
    box-sizing: border-box;
  }

  @for $row from 2 through 4 {
    @for $gap from 2 through 4 {
      &_#{$row}-#{$gap} {
        gap: #{$gap}rem;

        & > div {
          width: calc(calc(100% - #{(($row - 1) * $gap)}rem) / #{$row});
        }

        @if $row >= 2 {
          @include respond-to('large') {
            & > div {
              width: calc(calc(100% - #{(($row - 2) * $gap)}rem) / #{$row - 1});
            }
          }
        }

        @if $row >= 3 {
          @include respond-to('medium') {
            & > div {
              width: calc(calc(100% - #{(($row - 3) * $gap)}rem) / #{$row - 2});
            }
          }
        }
      }
    }
  }
}
